<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信息填报-会议信息-议题管理</title>
    <link rel="shortcut icon" th:href="@{/asserts/img/logo.png}">
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/plugins/footable/footable.core.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/jquery-file-upload.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <input id="meetingId"  th:value="${meetingId}" type="hidden"/>
    <!--<div class="row">
        <div class="col-sm-12">
           <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="query-search-div">
                    <div class="row">
                        <div class="col-sm-12 mt-4">
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label my-font-bold">会议类型</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="meetingType" name="meetingType" >
                                        <option></option>
                                        <option value="0" >党委会</option>
                                        <option value="1" >职代会</option>
                                        <option value="2" >党组会</option>
                                        <option value="3" >董事会</option>
                                        <option value="4" >经理层办公室会</option>
                                        <option value="5" >股东会</option>
                                        <option value="6" >党委(党组)会</option>
                                        <option value="7" >其他</option>
                                        <option value="8" >总经理办公会</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 my-font-bold">会议名称</label>
                                <div class="col-sm-2"><input id="name" name="name" type="text" class="form-control"></div>
                                <div class="col-sm-2">
                                    <div class="form-group text-right">
                                        <button class="btn btn-sm btn-success" type="button" onclick="createTable()">
                                            查询
                                        </button>
                                        <button class="btn btn-sm btn-info" onclick="refreshQuery()">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5 th:text="'会议：'+ ${meetingName}+'--议题管理列表'">议题管理列表</h5>
                <div class="ibox-tools">
                    <a th:href="@{/manageMeeting/go}" >返回</a>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="text-right">
                        <a class="btn btn-warning pull-right btn-sm badge-pill mb-1"
                           href="javascript:void(0)"  id="add_btn"  >
                            <!-- th:href="@{/manageSubject/add?meetingId=${meetingId}}" -->
                            <i class="fa fa-plus"> </i>新增</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/pop/confirm::showConfirm"></div>
<div th:replace="common/pop/confirm4::showConfirm"></div>
<div th:replace="common/pop/confirm5::showConfirm"></div>
<div th:replace="common/pop/confirm6::showConfirm"></div>
<div th:replace="common/pop/confirm8::showConfirm"></div>

<script th:src="@{/asserts/js/jquery.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap.min.js}"></script>
<!--<script th:src="@{/asserts/js/layer/layer.min.js}" type="text/javascript"></script>-->
<script th:src="@{/asserts/js/plugins/footable/footable.all.min.js}"></script>
<script th:src="@{/asserts/js/content.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap-table/bootstrap-table.min.js?v=1.1}"></script>
<script th:src="@{/asserts/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/asserts/js/layer/layer.min.js}" type="text/javascript"></script>
<script th:src="@{/asserts/js/laydate/laydate.js}"></script>
<script th:replace="common/myJs::myCommonJs"></script>
<script th:src="@{/asserts/js/jquery-file-upload.min.js?v=1.1}" type="text/javascript"></script>
<script>
    $(function () {
        createTable();
        lay('.dateRange').each(function () {
            laydate.render({
                elem: this
                , range: '~'
            });
        });
    });

    function onExpand(data) {
        for (var i = 0; i < data.total; i++)
            $('#table').bootstrapTable('toggleDetailView', i);//展开详情行
    }

    function onExpand(data) {
        for (var i = 0; i < data.total; i++)
            $('#table').bootstrapTable('toggleDetailView', i);//展开详情行
    }

    function detailFormatter(index, row) {
        var html = [];
        html.push('<p><h3>会议决策事项清单</h3>');
        $.each(row.manageMeetingItems, function (key, value) {
           html.push('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + value.eventCode +"|"+ value.pass)
        });
        return html.join('');
    }

    function createTable() {
        let url = '[[@{/manageSubject/list}]]';
        $("#table").bootstrapTable('destroy');
        $("#table").bootstrapTable({
            url: url,        //请求后台的URL（*）
            method: 'post',
            contentType: "application/x-www-form-urlencoded",
            pagination: false,                   //是否显示分页（*）
            cache: false,
            pageSize: 10,//每页一条数据
            striped: true,  //表格显示条纹
            // detailView: true, //1，开启详情视树形图模式
            // detailFormatter: "detailFormatter", //2，定义详情显示函数
            dataField: "list",
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                let param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    meetingId: $('#meetingId').val(),
                };
                return param;
            },
            onLoadSuccess: function (data) {
                onExpand(data);
            },
            sidePagination: 'server',
            pageNumber: 1,
            columns: [
                {field: "uuid", visible: false},
                {field: "subjectName", title: "议题名称"},
                {field: "subjectCode", title: "议题编码"},
                {field: "sourceName", title: "任务来源"},
                {field: "specialName", title: "专项名称"},{field: "status",title: "上传状态",
                    formatter: function (value, row) {
                        return formatter.formatAuditStatus(value);
                    }},
                {
                    field: "cz", title: '操作',
                    formatter: function (value, row) {
                        let editHtml = '<a href="javascript:;" class="btn btn-sm btn-success edit badge-pill mb-2" ><i class="fa fa-pencil"> </i>' + '编辑' + '</a>&nbsp;';
                        let delHtml = '<a href="javascript:;" class="btn btn-sm btn-danger del badge-pill mb-2"><i class="fa fa-trash"> </i>' + '删除' + '</a>&nbsp;';
                        let addHtml = '<a href="javascript:;" class="btn btn-sm btn-danger adde badge-pill mb-2"><i class="fa fa-dedent"> </i>' + '添加事项' + '</a>&nbsp;';
                        let addAttendanceHtml = '<a href="javascript:;" class="btn btn-sm btn-danger adda badge-pill mb-2"><i class="fa fa-dedent"> </i>' + '添加列席人' + '</a>&nbsp;';
                        let addDeliberationHtml = '<a href="javascript:;" class="btn btn-sm btn-danger addd badge-pill mb-2"><i class="fa fa-dedent"> </i>' + '添加审议结果' + '</a>&nbsp;';
                        let executionHtml = '<a href="javascript:;" class="btn btn-sm btn-danger add_execution badge-pill mb-2"><i class="fa fa-dedent"> </i>' + '添加组织实施' + '</a>&nbsp;';
                        let sendHtml = '<a href="javascript:;" class="btn btn-warning send"><i class="fa fa-send"> </i> 组织实施报送</a>&nbsp;';
                        let buttonhtml = editHtml + delHtml + addHtml+addAttendanceHtml+addDeliberationHtml+executionHtml+sendHtml;
                        return buttonhtml;
                    },
                    events: {
                        'click .edit': function (e, value, row, index) {
                            let id = row.uuid;
                            location.href = '[[@{'/manageSubject/add'}]]' + '?uuid=' + id+'&meetingId='+ $('#meetingId').val();
                        },
                        'click .del': function (e, value, row, index) {
                            let id = row.uuid;
                            let url = '[[@{'/manageSubject/delete'}]]';
                            $.post(url,{uuid:id},function(result){
                                if(result == 'ok'){
                                    createTable();
                                }
                            });
                        },
                        'click .adde': function (e, value, row, index) {
                            let id = row.uuid;
                            let url = '[[@{'/manageSubject/addItem'}]]';
                            let urls = '[[@{'/manageSubject/listItems'}]]';
                            let delurl = '[[@{'/manageSubject/deleteItem'}]]';
                            commonAction.addAction4(id, url, '', 'confirmModal4',urls,delurl)
                        },
                        'click .adda': function (e, value, row, index) {
                            let id = row.uuid;
                            let url = '[[@{'/manageSubject/addAttendance'}]]';
                            let urls = '[[@{'/manageSubject/listAttendances'}]]';
                            let delurl = '[[@{'/manageSubject/deleteAttendance'}]]';
                            commonAction.addAction5(id, url, '', 'confirmModal5',urls,delurl)
                        },
                        'click .addd': function (e, value, row, index) {
                            let id = row.uuid;
                            let url = '[[@{'/manageSubject/addDeliberation'}]]';
                            let urls = '[[@{'/manageSubject/listDeliberation'}]]';
                            let delurl = '[[@{'/manageSubject/deleteDeliberation'}]]';
                            commonAction.addAction6(id, url, '', 'confirmModal6',urls,delurl)
                        },
                        'click .add_execution': function (e, value, row, index) {
                            let id = row.uuid;
                            let subjectCode = row.subjectCode;
                            let url = '[[@{'/manageSubject/addExecution'}]]';
                            let dataUrl = '[[@{'/manageSubject/getExecutionBySubjectId'}]]';
                            commonAction.addAction8(id,subjectCode, url, dataUrl, 'confirmModal8')
                        },'click .send': function (e, value, row, index) {
                        let url = '[[@{'/xml/send0012'}]]';
                        debugger
                        let id = row.uuid;
                        $.ajax({
                            url: url,
                            data: 'id=' + id,
                            type: "post",
                            success: function (data) {
                                if(data=="ok")
                                    layer.alert(data, {title: '上传成功', icon: 1});
                                else
                                    layer.alert(data, {title: '上传失败', icon: 2});
                                createTable();
                            }
                        });
                    }
                    }
                }
            ]
        });

    }

    $('#add_btn').click(function (){
        location.href = '[[@{'/manageSubject/add'}]]' + '?meetingId=' + $('#meetingId').val();
    });


    function addInput() {
        let input = $(
            "<span class='col-sm-12' ><div class='form-group row'>"+
            "<div class='col-sm-2'><input type='text'  name='dept'  class='form-control m-t-sm col-sm-2'  placeholder='落实责任部门'></div>" +
            "<div class='col-sm-2'><input type='text'  name='name'  class='form-control m-t-sm col-sm-2'  placeholder='责任人'></div>" +
            "<div class='col-sm-3'><button class='removeclass btn btn-default m-t-sm col-sm-2' type='button'>" +
            "<span class='glyphicon glyphicon-minus'></span>" +
            "</button></div></div></span>");
        $(".input-dyna-add").append(input);
    }
    $("body").on("click", ".removeclass", function (e) {
        $(this).parent().parent('div').remove();
        return false;
    })
</script>
</body>

</html>