<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上报日志</title>
    <link rel="shortcut icon" th:href="@{/asserts/img/logo.png}">
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/plugins/footable/footable.core.css}" rel="stylesheet">

    <link th:href="@{/asserts/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/pop/confirm::showConfirm"></div>
<div th:replace="common/pop/confirm2::showConfirm"></div>

<script th:src="@{/asserts/js/jquery.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap.min.js}"></script>
<!--<script th:src="@{/asserts/js/layer/layer.min.js}" type="text/javascript"></script>-->
<script th:src="@{/asserts/js/plugins/footable/footable.all.min.js}"></script>
<script th:src="@{/asserts/js/content.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap-table/bootstrap-table.min.js?v=1.1}"></script>
<script th:src="@{/asserts/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/asserts/js/layer/layer.min.js}" type="text/javascript"></script>
<script th:src="@{/asserts/js/laydate/laydate.js}"></script>
<script th:replace="common/myJs::myCommonJs"></script>
<script>
    $(function () {
        createTable();
    });

    function createTable() {
        let url = '[[@{/xml/list}]]';
        $("#table").bootstrapTable('destroy');
        $("#table").bootstrapTable({
            url: url,        //请求后台的URL（*）
            method: 'post',
            contentType: "application/x-www-form-urlencoded",
            pagination: true,                   //是否显示分页（*）
            cache: false,
            pageSize: 10,//每页一条数据
            striped: true,  //表格显示条纹
            dataField: "list",
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                let param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                };
                return param;
            },
            sidePagination: 'server',
            pageNumber: 1,
            columns: [
                {field: "uuid", visible: false},
                {field: "createdDate",title: "创建时间",
                    formatter: function (val, row, index) {
                        return formatter.formatDate(val);
                    }
                },
                {field: "url", title: "上传地址"},
                {field: "fileName", title: "上传文件"},
                {field: "type", title: "上传类型"},
                {field: "response", title: "返回结果"},
                {field: "remark", title: "上传目录"},
            ]
        });

    }

</script>
</body>

</html>