<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>首页</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/plugins/footable/footable.core.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right"><span class="fa fa-user-md"></span> </span>
                        <h5>领导班子</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-2">
                                <h1 class="no-margins" id="aa">0</h1>
                                <div class="font-bold text-navy">
                                    <small>党委会成员</small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h1 class="no-margins" id="ab">0</h1>
                                <div class="font-bold text-navy">
                                    <small>党组会成员</small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h1 class="no-margins" id="ac">0</h1>
                                <div class="font-bold text-navy">
                                    <small>总经理办公室成员</small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h1 class="no-margins" id="ad">0</h1>
                                <div class="font-bold text-navy">
                                    <small>党委(党组)会成员</small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h1 class="no-margins" id="ae">0</h1>
                                <div class="font-bold text-navy">
                                    <small>股东会成员</small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h1 class="no-margins" id="af">0</h1>
                                <div class="font-bold text-navy">
                                    <small>董事会成员</small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h1 class="no-margins" id="ag">0</h1>
                                <div class="font-bold text-navy">
                                    <small>经理层办公会成员</small>
                                </div>
                            </div> <div class="col-md-2">
                                <h1 class="no-margins" id="ah">0</h1>
                                <div class="font-bold text-navy">
                                    <small>职代会成员</small>
                                </div>
                            </div> <div class="col-md-2">
                                <h1 class="no-margins" id="ai">0</h1>
                                <div class="font-bold text-navy">
                                    <small>其他</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right"><span class="fa fa-tint"></span> </span>
                        <h5>事项清单</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-3">
                                <h1 class="no-margins" id="ba">0</h1>
                                <div class="font-bold text-navy">
                                    <small>重大决策</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="bb">0</h1>
                                <div class="font-bold text-navy">
                                    <small>重要人事任免</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="bc">0</h1>
                                <div class="font-bold text-navy">
                                    <small>重大项目安排</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="bd">0</h1>
                                <div class="font-bold text-navy">
                                    <small>大额度资金运作</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right"><span class="fa fa-balance-scale"></span> </span>
                        <h5>制度信息</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-3">
                                <h1 class="no-margins" id="ca">0</h1>
                                <div class="font-bold text-navy">
                                    <small>议事规则</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="cb">0</h1>
                                <div class="font-bold text-navy">
                                    <small>公司章程</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="cc">0</h1>
                                <div class="font-bold text-navy">
                                    <small>授权管理办法</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="cd">0</h1>
                                <div class="font-bold text-navy">
                                    <small>董事会议事规则</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="ce">0</h1>
                                <div class="font-bold text-navy">
                                    <small>党委(党组)议事规则</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="cf">0</h1>
                                <div class="font-bold text-navy">
                                    <small>实施办法</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="cg">0</h1>
                                <div class="font-bold text-navy">
                                    <small>经理层办公室会议事规则</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right"><span class="fa fa-vimeo-square"></span> </span>
                        <h5>会议信息</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-3">
                                <h1 class="no-margins" id="da"></h1>
                                <div class="font-bold text-navy">
                                    <small>党委会</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins" id="db"></h1>
                                <div class="font-bold text-navy">
                                    <small>职代会</small>
                                </div>
                            </div> <div class="col-md-3">
                                <h1 class="no-margins" id="dc"></h1>
                                <div class="font-bold text-navy">
                                    <small>党组会</small>
                                </div>
                            </div> <div class="col-md-3">
                                <h1 class="no-margins" id="dd"></h1>
                                <div class="font-bold text-navy">
                                    <small>董事会</small>
                                </div>
                            </div> <div class="col-md-3">
                                <h1 class="no-margins" id="de"></h1>
                                <div class="font-bold text-navy">
                                    <small>经理层办公室会</small>
                                </div>
                            </div> <div class="col-md-3">
                                <h1 class="no-margins" id="df"></h1>
                                <div class="font-bold text-navy">
                                    <small>股东会</small>
                                </div>
                            </div> <div class="col-md-3">
                                <h1 class="no-margins" id="dg"></h1>
                                <div class="font-bold text-navy">
                                    <small>党委(党组)会</small>
                                </div>
                            </div> <div class="col-md-3">
                                <h1 class="no-margins" id="dh"></h1>
                                <div class="font-bold text-navy">
                                    <small>其他</small>
                                </div>
                            </div> <div class="col-md-3">
                                <h1 class="no-margins" id="di"></h1>
                                <div class="font-bold text-navy">
                                    <small>总经理办公会</small>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:replace="common/pop/confirm::showConfirm"></div>

<script th:src="@{/asserts/js/jquery.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap.min.js}"></script>
<script th:src="@{/asserts/js/plugins/footable/footable.all.min.js}"></script>
<script th:src="@{/asserts/js/content.min.js}"></script>
<script th:src="@{/asserts/js/echarts.min.js}" type="text/javascript"></script>

<script th:src="@{/asserts/js/bootstrap-table/bootstrap-table.min.js?v=1}"></script>
<script th:src="@{/asserts/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script th:replace="common/myJs::myCommonJs"></script>

<script>
    $(function () {

        a2();
    });

    function a2() {
        $.ajax({
            url: '[[@{/home/counttotal}]]',
            type: "post",
            success: function (data) {
                data = eval('(' + data + ')');
                $('#aa').text(data.aa);
                $('#ab').text(data.ab);
                $('#ac').text(data.ac);
                $('#ad').text(data.ad);
                $('#ae').text(data.ae);
                $('#af').text(data.af);
                $('#ag').text(data.ag);
                $('#ah').text(data.ah);
                $('#ai').text(data.ai);

                $('#ba').text(data.ba);
                $('#bb').text(data.bb);
                $('#bc').text(data.bc);
                $('#bd').text(data.bd);
                $('#ca').text(data.ca);
                $('#cb').text(data.cb);
                $('#cc').text(data.cc);
                $('#cd').text(data.cd);
                $('#ce').text(data.ce);
                $('#cf').text(data.cf);
                $('#cg').text(data.cg);

                $('#da').text(data.da);
                $('#db').text(data.db);
                $('#dc').text(data.dc);
                $('#dd').text(data.dd);
                $('#de').text(data.de);
                $('#df').text(data.df);
                $('#dg').text(data.dg);
                $('#dh').text(data.dh);
                $('#di').text(data.di);

            }
        });
    }


</script>
</body>

</html>