<!DOCTYPE html>
<html lang="en"  xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信息填报-制度信息管理</title>
    <link rel="shortcut icon" th:href="@{/asserts/img/logo.png}">
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/plugins/footable/footable.core.css}" rel="stylesheet">

    <link th:href="@{/asserts/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <input type ="file" id="importExcel" name= "file" style=" display: none" />

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜索</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="query-search-div">
                    <div class="row">
                        <div class="col-sm-12 mt-4">
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label my-font-bold" >制度类型</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="systemType" name="systemType" >
                                        <option></option>
                                        <option value="0">议事规则</option>
                                        <option value="1">公司章程</option>
                                        <option value="2">授权管理办法</option>
                                        <option value="3">董事会议事规则</option>
                                        <option value="4">党委(党组)议事规则</option>
                                        <option value="5">实施办法</option>
                                        <option value="6">经理层办公室会议事规则</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group text-right">
                                        <button  class="btn btn-sm btn-success" type="button" onclick="createTable()">查询</button>
                                        <button class="btn btn-sm btn-info" onclick="refreshQuery()">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>制度管理</h5>
                    <div class="text-right">
                        <a class="btn btn-success pull-right btn-sm badge-pill mb-1 m-1-sm" onclick="$('#importExcel').click();"><i
                                class="fa fa-cloud-upload"> </i>导入</a>
                        <a class="btn btn-success pull-right btn-sm badge-pill mb-1 m-1-sm" style="margin-right: 4px;" onclick="exportExcel()"><i
                                class="fa fa-cloud-download"> </i>导出</a>
                        <shiro:hasPermission name="制度信息管理_新增">
                            <a class="btn btn-warning pull-right btn-sm badge-pill mb-1" th:href="@{/manageSystem/goadd}"><i
                                    class="fa fa-plus"> </i>新增</a>
                        </shiro:hasPermission>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/pop/confirm::showConfirm"></div>
<div th:replace="common/pop/confirm7::showConfirm"></div>

<script th:src="@{/asserts/js/jquery.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap.min.js}"></script>
<!--<script th:src="@{/asserts/js/layer/layer.min.js}" type="text/javascript"></script>-->
<script th:src="@{/asserts/js/plugins/footable/footable.all.min.js}"></script>
<script th:src="@{/asserts/js/content.min.js}"></script>
<script th:src="@{/asserts/js/bootstrap-table/bootstrap-table.min.js?v=1.1?v=1.1}"></script>
<script th:src="@{/asserts/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}" ></script>
<script th:src="@{/asserts/js/layer/layer.min.js}" type="text/javascript"></script>
<script th:src="@{/asserts/js/laydate/laydate.js}"></script>
<script th:src="@{/asserts/js/ajaxfileupload.js}"></script>

<script th:replace="common/myJs::myCommonJs"></script>
<script>
    $(function () {
        createTable();
        lay('.dateRange').each(function () {
            laydate.render({
                elem: this
                , range: '~'
            });
        });
        var url = '[[@{/manageSystem/importExcel.xlsx}]]';
        $('body').on('change','#importExcel',function(){
            var importingExcelIndex=layer.load(1);
            $.ajaxFileUpload({
                type: "POST",
                url: url,
                // data:{picParams:text},//要传到后台的参数，没有可以不写
                secureuri : false,//是否启用安全提交，默认为false
                fileElementId:'importExcel',//文件选择框的id属性
                dataType: 'text',//服务器返回的格式
                async : false,
                complete: function(data){
                    $('#importExcel').val('');
                    layer.close(importingExcelIndex);
                },
                success: function (text) {
                    var resultData = JSON.parse(text);
                    var message = '';
                    if (!$.isArray(resultData)) {
                        if(typeof resultData == 'string'){
                            layer.alert(resultData, {title: '导入失败', icon: 2});
                        }else{
                            if(resultData['add']+resultData['update']>0){
                                message = '新增' + resultData['add'] + '项, ' + '修改' + resultData['update'] + '项';
                                layer.alert(message, {title: '导入成功', icon: 1}, function () {
                                    location.reload();
                                });
                            }else{
                                layer.alert('列表为空', {title: '未导入', icon: 0});
                            }
                        }
                    } else {
                        for (var i = 0; i < resultData.length; i++) {
                            message += resultData[i] + '<br/>';
                        }
                        layer.alert(message, {title: '导入失败', icon: 2});
                    }
                },
                error: function (data, status, e){
                    layer.alert('导入错误');
                }
            });
        });
    });

    function exportExcel(){
        let url = '[[@{/manageSystem/exportExcel.xlsx}]]';
        window.open(url);
    }


    function createTable() {
        let url = '[[@{/manageSystem/list}]]'
        $("#table").bootstrapTable('destroy');
        $("#table").bootstrapTable({
            url: url,        //请求后台的URL（*）
            method: 'post',
            contentType: "application/x-www-form-urlencoded",
            pagination: true,                   //是否显示分页（*）
            cache: false,
            pageSize: 10,//每页一条数据
            striped: true,  //表格显示条纹
            dataField: "list",
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                let param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    systemType: $('#systemType').val()/*,
                    status: $('#status').val()*/
                };
                return param;
            },
            sidePagination: 'server',
            pageNumber: 1,
            columns: [
                {field: "uuid",visible: false},
                /*{field: "createdDate",title: "创建时间",
                    formatter: function (val, row, index) {
                        return formatter.formatDate(val);
                    }
                },*/
                {field: "systemName",title: "序号"},
                {field: "systemName",title: "制度名称"},
                {field: "aa",title: "上报状态"},
                {field: "systemType",title: "制度类型",
                    formatter: function (value, row) {
                        return formatter.formatSystemType(value);
                    }
                },
                {field: "systemName",title: "状态"},
                {field: "systemName",title: "操作类型"},
                {field: "approveDate",title: "审批日期"},
                {field: "effectiveDate",title: "生效日期"},
                {field: "expiryDate",title: "失效日期"},
                {field: "createdByOrg",title: "企业名称"},
                {field: "status",title: "上传状态",
                    formatter: function (value, row) {
                        return formatter.formatAuditStatus(value);
                    }},
                {field: "cz",title: '操作',width: "23%",
                    formatter: function (value, row) {
                        let editHtml = '';
                        let delHtml = '';
                        let addHtml = '';
                            if (checkAuthorization('制度信息管理_编辑'))
                                editHtml = '<a href="javascript:;" class="btn btn-sm btn-success edit badge-pill mb-2" ><i class="fa fa-pencil"> </i>' + '编辑' + '</a>&nbsp;';
                            if (checkAuthorization('制度信息管理_删除'))
                                delHtml = '<a href="javascript:;" class="btn btn-sm btn-danger del badge-pill mb-2"><i class="fa fa-trash"> </i>' + '删除' + '</a>&nbsp;';
                        addHtml = '<a href="javascript:;" class="btn btn-sm btn-danger adde badge-pill mb-2"><i class="fa fa-dedent"> </i>' + '添加表决方式' + '</a>&nbsp;';
                        // var sendHtml = '<a href="javascript:;" class="btn btn-warning send"><i class="fa fa-send"> </i> 报送</a>&nbsp;';
                        var sendHtml2 = '<a href="javascript:;" class="btn btn-warning send2"><i class="fa fa-send"> </i> 决策制度报送</a>&nbsp;';
                        let buttonhtml = editHtml + delHtml+addHtml+sendHtml2;
                        return buttonhtml;
                    },
                    events: {
                        'click .edit': function (e, value, row, index) {
                            let id = row.uuid;
                            location.href = '[[@{'/manageSystem/goedit'}]]' + '?uuid=' + id;
                        },
                        'click .del': function (e, value, row, index) {
                            let id = row.uuid;
                            let url = '[[@{'/manageSystem/delete'}]]';
                            let redirectUrl = '[[@{'/manageSystem/go'}]]';
                            commonAction.delAction(id, url, redirectUrl, 'confirmModal')
                        },
                        'click .adde': function (e, value, row, index) {
                            let id = row.uuid;
                            let url = '[[@{'/manageSystem/addDetailItem'}]]';
                            let redirectUrl = '[[@{'/manageSystem/go'}]]';
                            let urls = '[[@{'/manageSystem/listDetailItems'}]]';
                            let delurl = '[[@{'/manageSystem/deleteDetailItem'}]]';
                            commonAction.addAction7(id, url, redirectUrl, 'confirmModal7',urls,delurl)
                        },
                        // 'click .send': function (e, value, row, index) {
                        //     let url = '[[@{'/xml/send0014'}]]';
                        //     debugger
                        //     let id = row.uuid;
                        //     $.ajax({
                        //         url: url,
                        //         data: 'id=' + id,
                        //         type: "post",
                        //         success: function (data) {
                        //             createTable();
                        //         }
                        //     });
                        // },
                        'click .send2': function (e, value, row, index) {
                            let url = '[[@{'/xml/send0005'}]]';
                            debugger
                            let id = row.uuid;
                            $.ajax({
                                url: url,
                                data: 'id=' + id,
                                type: "post",
                                success: function (data) {
                                    if(data=="ok")
                                        layer.alert(data, {title: '上传成功', icon: 1});
                                    else
                                        layer.alert(data, {title: '上传失败', icon: 2});
                                    createTable();
                                }
                            });
                        },
                    }
                }
            ]
        });

    }

</script>
</body>

</html>