<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanxi.coal.dao.HomeMapper">

    <select id="countByStatus" resultType="java.lang.Integer">
    select count(*) from org_base_info where businessstatus = #{a,jdbcType=CHAR}
  </select>
    <select id="countAllCompany" resultType="java.lang.Integer">
        select count(*) from org_base_info
    </select>
    <select id="countCompanyByType" resultType="java.lang.Integer">
        select count(*) from org_base_info where unittype = #{type,jdbcType=CHAR}
    </select>
    <select id="countCompanyByBond" resultType="java.lang.Integer">
        select count(*) from org_base_info where domain = #{type,jdbcType=CHAR}
    </select>
    <select id="countCompanyByListed" resultType="java.lang.Integer">
        select count(*) from org_base_info where listed = #{type,jdbcType=CHAR}
    </select>
    <select id="countLeader" resultType="java.lang.Integer">
        select count(*) from manage_leader_group where leader_group = #{type,jdbcType=CHAR}
    </select>
    <select id="countEventByCatelog" resultType="java.lang.Integer">
        select count(*) from  manage_events_details_item where event_id in (
            select uuid from manage_events_details where event_id in (
            select uuid from dic_events_catalog where catalog_a = #{type,jdbcType=CHAR})
            )
    </select>
    <select id="countSystemByType" resultType="java.lang.Integer">
        select count(*) from manage_system where system_type = #{type,jdbcType=CHAR}
    </select>
    <select id="countMeetingType" resultType="java.lang.Integer">
        select count(*) from manage_meeting where meeting_type = #{type,jdbcType=CHAR}
    </select>
</mapper>