<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanxi.coal.dao.ManageSubjectExecutionDutyMapper">
  <resultMap id="BaseResultMap" type="com.shanxi.coal.domain.ManageSubjectExecutionDuty">
    <id column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="execution_id" jdbcType="VARCHAR" property="executionId" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, execution_id, dept, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manage_subject_execution_duty
    where uuid = #{uuid,jdbcType=CHAR}
  </select>

  <select id="listByExecutionId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from manage_subject_execution_duty
    where execution_id = #{executionId,jdbcType=CHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from manage_subject_execution_duty
    where uuid = #{uuid,jdbcType=CHAR}
  </delete>

  <delete id="deleteByExecutionId" parameterType="java.lang.String">
    delete from manage_subject_execution_duty
    where execution_id = #{executionId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.shanxi.coal.domain.ManageSubjectExecutionDuty">
    insert into manage_subject_execution_duty (uuid, execution_id, dept, 
      name)
    values (#{uuid,jdbcType=CHAR}, #{executionId,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shanxi.coal.domain.ManageSubjectExecutionDuty">
    insert into manage_subject_execution_duty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="executionId != null">
        execution_id,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="executionId != null">
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanxi.coal.domain.ManageSubjectExecutionDuty">
    update manage_subject_execution_duty
    <set>
      <if test="executionId != null">
        execution_id = #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanxi.coal.domain.ManageSubjectExecutionDuty">
    update manage_subject_execution_duty
    set execution_id = #{executionId,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=CHAR}
  </update>
</mapper>