<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanxi.coal.dao.ManageSystemMapper">
  <resultMap id="BaseResultMap" type="com.shanxi.coal.domain.ManageSystem">
    <id column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_by_org" jdbcType="VARCHAR" property="createdByOrg" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="system_name" jdbcType="VARCHAR" property="systemName" />
    <result column="system_type" jdbcType="VARCHAR" property="systemType" />
    <result column="system_type_id" jdbcType="VARCHAR" property="systemTypeId" />
    <result column="approve_date" jdbcType="VARCHAR" property="approveDate" />
    <result column="effective_date" jdbcType="VARCHAR" property="effectiveDate" />
    <result column="expiry_date" jdbcType="VARCHAR" property="expiryDate" />
    <result column="is_legal_approve" jdbcType="VARCHAR" property="isLegalApprove" />
    <result column="meeting_type" jdbcType="VARCHAR" property="meetingType" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.shanxi.coal.domain.ManageSystem">
    <id column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_by_org" jdbcType="VARCHAR" property="createdByOrg" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="system_name" jdbcType="VARCHAR" property="systemName" />
    <result column="system_type" jdbcType="VARCHAR" property="systemType" />
    <result column="system_type_id" jdbcType="VARCHAR" property="systemTypeId" />
    <result column="approve_date" jdbcType="VARCHAR" property="approveDate" />
    <result column="effective_date" jdbcType="VARCHAR" property="effectiveDate" />
    <result column="expiry_date" jdbcType="VARCHAR" property="expiryDate" />
    <result column="is_legal_approve" jdbcType="VARCHAR" property="isLegalApprove" />
    <result column="meeting_type" jdbcType="VARCHAR" property="meetingType" />
    <collection property="fileUploads" column="uuid"
                select="com.shanxi.coal.dao.FileUploadedMapper.listByCategoryId"></collection>
  </resultMap>
  <sql id="Base_Column_List">
    uuid, created_date, created_by, created_by_org, modified_by, modified_date, is_del, 
    status, remark, system_name, system_type, system_type_id, approve_date, effective_date, 
    expiry_date, is_legal_approve, meeting_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manage_system
    where uuid = #{uuid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from manage_system
    where uuid = #{uuid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.shanxi.coal.domain.ManageSystem">
    insert into manage_system (uuid, created_date, created_by, 
      created_by_org, modified_by, modified_date, 
      is_del, status, remark, 
      system_name, system_type, system_type_id, 
      approve_date, effective_date, expiry_date, 
      is_legal_approve, meeting_type)
    values (#{uuid,jdbcType=CHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdByOrg,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{systemName,jdbcType=VARCHAR}, #{systemType,jdbcType=VARCHAR}, #{systemTypeId,jdbcType=VARCHAR}, 
      #{approveDate,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=VARCHAR}, #{expiryDate,jdbcType=VARCHAR}, 
      #{isLegalApprove,jdbcType=VARCHAR}, #{meetingType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shanxi.coal.domain.ManageSystem">
    insert into manage_system
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByOrg != null">
        created_by_org,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="systemName != null">
        system_name,
      </if>
      <if test="systemType != null">
        system_type,
      </if>
      <if test="systemTypeId != null">
        system_type_id,
      </if>
      <if test="approveDate != null">
        approve_date,
      </if>
      <if test="effectiveDate != null">
        effective_date,
      </if>
      <if test="expiryDate != null">
        expiry_date,
      </if>
      <if test="isLegalApprove != null">
        is_legal_approve,
      </if>
      <if test="meetingType != null">
        meeting_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdByOrg != null">
        #{createdByOrg,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="systemName != null">
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="systemType != null">
        #{systemType,jdbcType=VARCHAR},
      </if>
      <if test="systemTypeId != null">
        #{systemTypeId,jdbcType=VARCHAR},
      </if>
      <if test="approveDate != null">
        #{approveDate,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null">
        #{expiryDate,jdbcType=VARCHAR},
      </if>
      <if test="isLegalApprove != null">
        #{isLegalApprove,jdbcType=VARCHAR},
      </if>
      <if test="meetingType != null">
        #{meetingType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanxi.coal.domain.ManageSystem">
    update manage_system
    <set>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdByOrg != null">
        created_by_org = #{createdByOrg,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="systemName != null">
        system_name = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="systemType != null">
        system_type = #{systemType,jdbcType=VARCHAR},
      </if>
      <if test="systemTypeId != null">
        system_type_id = #{systemTypeId,jdbcType=VARCHAR},
      </if>
      <if test="approveDate != null">
        approve_date = #{approveDate,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null">
        expiry_date = #{expiryDate,jdbcType=VARCHAR},
      </if>
      <if test="isLegalApprove != null">
        is_legal_approve = #{isLegalApprove,jdbcType=VARCHAR},
      </if>
      <if test="meetingType != null">
        meeting_type = #{meetingType,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanxi.coal.domain.ManageSystem">
    update manage_system
    set created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_by_org = #{createdByOrg,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      system_name = #{systemName,jdbcType=VARCHAR},
      system_type = #{systemType,jdbcType=VARCHAR},
      system_type_id = #{systemTypeId,jdbcType=VARCHAR},
      approve_date = #{approveDate,jdbcType=VARCHAR},
      effective_date = #{effectiveDate,jdbcType=VARCHAR},
      expiry_date = #{expiryDate,jdbcType=VARCHAR},
      is_legal_approve = #{isLegalApprove,jdbcType=VARCHAR},
      meeting_type = #{meetingType,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=CHAR}
  </update>

  <select id="getList" parameterType="com.shanxi.coal.domain.ManageSystem" resultMap="BaseResultMap">
    select * from manage_system
    <where>
      is_del=0
      <if test = "systemType != null">
        AND system_type LIKE concat(concat('%',#{systemType,jdbcType=VARCHAR}),'%')
      </if>
      <!--<include refid="Common.condition_sql"/>-->
    </where>
    order by created_date desc
  </select>

  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List"/>
    from manage_system
    where uuid = #{uuid,jdbcType=CHAR}
  </select>
    <select id="count" resultType="java.lang.Integer">
      select count(*) from manage_system
    </select>
</mapper>